<script defer src="/front.js"></script>
<div class="container">
  <h3 id='userTitle'>USER:</h3>
  <ol id='list' class='list'>
    {{#each messages}}
    <li>
      <div class='msg'>
        {{this.username}}
      </div>
      <div class='msg'>
        {{this.message}}
      </div>
    </li>
    {{/each}}
  </ol>

  <form action="/" method="post" id='chatForm'>
    <input type="text" name="message" placeholder="enter toy message">
    <button class="myBtn">SEND MESSAGE</button>
  </form>

</div>
