<h2>{{msg}}</h2>
<form action="" method="post" class="myform">
  <label>
    <div>
      <input type="text" name="username" placeholder="username">
    </div>
    <div>
      <input type="pasword" name="password" placeholder="password">
    </div>
    <div>
      <input type="pasword" name="password2" placeholder="password">
    </div>
    <div>
      <button>REGISTER</button>
    </div>
</form>
