<form action="/user" method="post" class="myform">
  <label>
    Enter username
    <input type="text" name="username" placeholder="username">
    <input type="pasword" name="password" placeholder="password">
  </label>
  <button>LOGIN</button>
</form>
