<form class='new-project' action='/upload' method='POST' enctype="multipart/form-data">
  <label for='file'>Select your image:</label>
  <input type='file' multiple accept='image/*' name='img' id='file' />
  <button type='submit'>upload</button>
</form>
